<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="../../assets/logo.jpg" class="img-fluid w-25 "  alt="logo-esprit"  >
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNavAltMarkup">
    <div class="navbar-nav ">
      <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      <a class="nav-link" routerLink="/Cours">Cours</a>
      <a class="nav-link" routerLink="/Upload">Upload</a>
      <a class="nav-link" routerLink="/Login">Logout</a>
    </div>
  </div>
</nav>
<div class="container">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">

        <div class="card-body">
<div *ngIf="currentFile" class="progress">
  <div
    class="progress-bar progress-bar-info progress-bar-striped"
    role="progressbar"
    attr.aria-valuenow="{{ progress }}"
    aria-valuemin="0"
    aria-valuemax="100"
    [ngStyle]="{ width: progress + '%' }"
  >
    {{ progress }}%
  </div>
</div>

<label class="btn btn-default">

  <input type="file" (change)="selectFile($event)" />

</label>

<button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">
  Upload
</button>

<div class="alert alert-light" role="alert">{{ message }}</div>
        </div></div></div>

