<app-parent-container></app-parent-container>
<hr>
<div class="container">
  <h1>Add Formation Form</h1>
  <form #f="ngForm">

    <div class="form-group">
      <label>Name:</label>
      <input type="text" name="name" class="form-control" [(ngModel)]="formation.nom"
             #t="ngModel" required minlength="3" pattern="[a-zA-Z]+$">
    </div>
    <div class="alert alert-danger" *ngIf="t.touched && t.invalid">
      <div *ngIf="t.errors.required" >title is required</div>
      <div *ngIf="t.errors.minlength" >title minlength is 3</div>
      <div *ngIf="t.errors.pattern">message Pattern</div>
    </div>
    <div class="form-group">
      <label>Date Debut:</label>
      <input type="date" name="dated" class="form-control" [(ngModel)]="formation.dateD" #q="ngModel" required>
    </div>
    <div class="alert alert-danger" *ngIf="q.touched && q.invalid">
      Date is required
    </div>
    <div class="form-group">
      <label>Date Debut:</label>
      <input type="date" name="datef" class="form-control" [(ngModel)]="formation.dateF" #c="ngModel" required>
    </div>
    <div class="alert alert-danger" *ngIf="c.touched && c.invalid">
      Date is required
    </div>
    <div class="form-group">
      <label>Numbre of Places:</label>
      <input type="number" name="number" class="form-control" [(ngModel)]="formation.nbp" #g="ngModel" required>
    </div>
    <div class="alert alert-danger" *ngIf="g.touched && g.invalid">
      Number is required
    </div>
    <div class="alert alert-danger" *ngIf="q.value<0 ||p.value==0">
      Number >0
    </div>
    <div class="form-group">
      <label>Place:</label>
      <input type="string" name="place" class="form-control" [(ngModel)]="formation.local" #p="ngModel" required>
    </div>
    <div class="alert alert-danger" *ngIf="p.touched && p.invalid">
      place is required
    </div>

    <button type="button" class="btn btn-success" [disabled]="f.invalid || q.value<0 " (click)="edit()">
      Edit
    </button>
  </form>
</div>
