<app-parent-container></app-parent-container>
<br>
<div class="contariner offset-5">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../assets/home.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Formation {{formation.nom}}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Date Debut {{formation.dateD}}</li>
    <li class="list-group-item">Date Fin {{formation.dateF}}</li>
    <li class="list-group-item">Localisation {{formation.local}}</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Nombre de place disponible {{formation.NombreDePlaces}}</a>
  </div>
</div>
</div>
