<app-parent-container></app-parent-container>
<div class="welcome" >
  <img src="../../assets/Individuele%20studieplekken%20met%20pc%20bieb_0.jpg" class="img-fluid"  alt="desktop" >
  <div class="d-flex flex-column align-items-center  landing" >
    <h3>Welcome To</h3>
    <h1><font color="red">YOUR LEARNING SPACE</font></h1>
  </div>
</div>
<div class="container">
  <hr class="my-5 border-dark">
</div>

<div class="container">
  <footer class="page-footer font-small unique-color-dark">

    <div style="background-color: rgba(135,177,178,0.95);">

  <div class="container-fluid text-center text-md-left">
<br>
    <div class="row">

      <div class="col-md-6 mt-md-0 mt-3">

        <h5 class="text-uppercase font-weight-bold">About Us</h5>
        <p>THIS SITE IS MADE FOR ALL ESPRIT STUDENTS TO UPLOAD </p><p>OR DOWNLOAD COURSES IN MANY DIFFRENT SUBJECTS .</p>
        <p>WE WILL BE GLAD IF YOU USED THIS SITE AND SHARE </p> <p>IT WITH YOUR FRIENDS</p>

      </div>

      <hr class="clearfix w-100 d-md-none pb-3">

      <div class="col-md-6 mb-md-0 mb-3">

        <h5 class="text-uppercase font-weight-bold">Contact</h5>
        <p>
          <i class="fas fa-home mr-3"></i> Tunis, Tunisie, Ariana</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> YoureLarningSpace@gmail.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> +22 25 25 25 25</p>
        <p>
          <i class="fas fa-print mr-3"></i> +77 97 97 97 97</p>

      </div>

    </div>

  </div>

  <div class="footer-copyright text-center py-3">© 2020 Copyright: CHERIF HAZEM 4 TWIN 3
  </div>
    </div>
</footer>

</div>
<div class="container">
  <hr class="my-5 ">
</div>


