<body>
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-xl-9 mx-auto">
      <div class="card card-signin flex-row my-5">
        <div class="card-img-left d-none d-md-flex">
          <!-- Background image for card set in CSS! -->
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">Register</h5>
          <form class="form-signin" [formGroup]="registerForm">

            <div class="form-label-group">
              <input type="password" id="inputId" class="form-control" placeholder="id" formControlName="id">
              <label for="inputId">Id</label>
              <div class="alert-danger" *ngIf="id.errors && id.touched">
                the id is a requirement
              </div>
            </div>
<br>
            <div class="form-label-group">
              <input type="text" id="inputUserame" class="form-control" placeholder="Username" formControlName="nom">
              <label for="inputUserame">UserName</label>
              <div class="alert-danger" *ngIf="nom.errors && nom.touched">
                the name is a requirement
              </div>
            </div>
              <br>
            <div class="form-label-group">
              <input type="email" id="inputEmail" class="form-control" placeholder="Email address" formControlName="email">
              <label for="inputEmail">Email address</label>
              <div class="alert-danger" *ngIf="email.errors && email.touched">
                <div *ngIf="email.errors.required"> the email is required </div>
                <div *ngIf="email.errors.pattern"> please follow the normal mail pattern</div>
              </div>
            </div>

            <br>

            <div class="form-label-group">
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName="password">
              <label for="inputPassword">Password</label>
              <div class="alert-danger" *ngIf="password.errors && password.touched">
                <div *ngIf="password.errors.required"> the password is required </div>
                <div *ngIf="password.errors.minLength"> password lenght >6</div>
              </div>
            </div>
<br>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" (click)="save()" [disabled]="registerForm.invalid">Register</button>
            <a class="d-block text-center mt-2 small" routerLink="/Login">Sign In</a>
            <hr class="my-4">
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
